
.component-tasks{
    
}
.margin-card-actualite{
    /* padding-left: 3rem;
    padding-right: -4rem !important; */
}
.box{
    background: #FFDCD1;
    border-radius: 10px;
    /* width: 50px; */
    padding: 5px 9px;
    color: #e74040;
}
.box-deux{
    background: #B9EAA8;
    border-radius: 10px;
    padding: 10px 19px;
    color: #2dc071;
}
.box-trois{
    background: #fff5ea;
    border-radius: 10px;
    padding: 5px 9px;

    color: #ffbf81;
}
.right-btn-add-article{
    margin-left: 36% !important;
    /* float: center; */
}